/*** reset ***/
* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	color: inherit;
	font-size: inherit;
	margin: 0;
	padding: 0;
}
ol, ul {
	list-style-type: none;
	padding-left: 0;
}
a {
	color: inherit;
	text-decoration: none;
}
:focus {
    outline: 0;
}
input {
	-webkit-box-shadow: none;
	        box-shadow: none;
}
/*** / reset ***/


/*** general ***/
html {
	color: #555;
	font-family: 'Arial', system-ui, -apple-system, sans-serif;
	font-size: 16px;
}
body {
	background-color: #343642;
	position: relative;
	height: 300vh;
}
body:after {
	background-color: rgba(52,54,66,.8);
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	z-index: -1;
}
body.modal-open {
	height: 100vh;
	overflow: hidden;
}
body.modal-open:after {
	opacity: 1;
	z-index: 1;
}
.btn {
	cursor: pointer;
	display: inline-block;
	text-align: center;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.btn__block {
	display: block;
	font-weight: bolder;
	width: 100%;
}
.btn__round {
	border-radius: 20px;
	padding: 10px 16px;
}
.btn__square {
	border-radius: 3px;
	padding: 15px 16px;
}
.btn__light {
	background-color: transparent;
	border: 1px solid rgba(255,255,255,0.8);
	color: #fff;
}
.btn__light:hover {
	background-color: #fff;
	border-color: #fff;
	color: #000;
}
.btn__bold {
	background-color: #2F889A;
	border: 1px solid #2F889A;
	color: #fff;
}
.btn__bold:hover {
	background-color: #fff;
	color: #2F889A;
}
.text-small {
	font-size: 14px;
	line-height: 1.4;
}
.link {
	border-bottom: 1px solid rgba(255,255,255,0);
	color: #2F889A;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.link:hover {
	border-bottom-color: #2F889A;
}
/* Measure scrollbar width for padding body during modal show/hide*/
.modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}
.hidden {
	display: none;
}
/*** / general ***/

/*** first screen ***/
.main__nav {
	padding-top: 20px;
	text-align: center;
}
.main__nav .btn:not(:last-child) {
	margin-right: 16px;
}
/*** first screen ***/

/*** modal ***/
.modal {
	display: none;
	position: absolute;
	left: 50%;
	top: -10%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 600px;
	max-width: 90%;
	max-height: 90vh;
	overflow: auto;
	z-index: 10;
}
/*.modal.shown {
	top: 50%;
}*/
/*** end modal ***/

/*** tabs ***/
.tabs__top {
	border-radius: 3px 3px 0 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: -1px;
	overflow: hidden;
}
.tabs__topItem {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 50%;
	        flex: 0 0 50%;
}
.tab__content, .subtab:not(:only-child), .subtab_control.active {
	display: none;
}
.tab__content.active, .subtab.active {
	display: block;
}
.tab__title.active, .subtab {
	background-color: #fff;
}
.tab__title {
	display: block;
	padding: 26px 10px;
	text-align: center;
}
.tab__title:not(.active) {
	background-color: #D2D8D8;
	color: #7F959A;
}
.tab__title.active {
	cursor: default;
}
.subtab {
	border-radius: 0 0 3px 3px;
	overflow: hidden;
}
.subtab_controlBlock {
	margin-top: 15px;
	text-align: center;
}
.subtab_control {
	color: #fff;
	text-decoration: underline;
}
.subtab_control:hover {
	text-decoration: none;
}

/*** / tabs ***/

/*** form ***/
.field {
	position: relative;
}
.field:not(:last-child) {
	margin-bottom: 32px;
}
.field__input {
	border: 1px solid #e1e5e5;
	border-radius: 3px;
	display: block;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	width: 100%;
}
.field__input.error {
	border-color: #f00;
	color: #f00;
}
.field__input:focus {
	border-color: #2F889A;
}
.field__input::-webkit-input-placeholder {
  color: #999;
}
.field__input::-moz-placeholder {
  color: #999;
}
.field__input:-ms-input-placeholder {
  color: #999;
}
.field__input:-moz-placeholder {
  color: #999;
}
label {
	cursor: pointer;
}
[type="checkbox"].error+span {
	color: #f00;
}
.field__btn {
	border-left: 1px solid #e1e5e5;
	cursor: pointer;
	padding: 5px 15px;
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.form__text {
	margin-bottom: 32px;
	text-align: center;
}
.errorBlock {
	color: #f00;
	font-size: 14px;
	line-height: 1.4;
	margin-bottom: 32px;
}
.errorBlock p:not(:last-child) {
	margin-bottom: 5px;
}
/*** / form ***/

@media (min-width: 576px) {
	.subtab {
		padding: 32px;
	}
	.field__input {
		padding: 16px 50px;
	}
}
@media (max-width: 575px) {
	.subtab {
		padding: 16px;
	}
	.field__input {
		padding: 16px 50px 16px 16px;
	}
}

.test_for_git{
	color: inherit;
}
.another_test{}
